.test {
  color: red;
}

.grid {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  max-width: 980px;
  margin: 0 auto; /* Center the grid container */
  padding: 4vh 4vw;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image:hover {
  cursor: pointer;
  transform: scale(1.05); /* Slight zoom effect */
}

/* Modal styles for enlarged image view */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  width: auto;
  height: 80vh;
}

.closeButton {
  position: fixed;
  top: 10px; /* Spacing from the top */
  right: 15px; /* Spacing from the right */
  font-size: 3rem; /* Size of the "x" */
  color: rgb(79, 79, 79);
  background: none; /* No visible background */
  border: none; /* Remove default border */
  cursor: pointer;
  z-index: 1002; /* Ensure it appears above other elements */
  padding: 10px; /* Add padding around the "x" to increase the clickable area */
  width: auto; /* Ensure it doesn't shrink */
  height: auto; /* Ensure it doesn't shrink */
  transition: color 0.4s ease;
}

.closeButton:hover {
  color: pink;
}

/* Responsive */
@media (max-width: 420px) {
  .modalImage {
    width: 100vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* Arrows - Hidden for smaller screens */
.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: none;
  border: none;
  color: rgb(79, 79, 79);
  cursor: pointer;
  z-index: 1002;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: pink;
}

.arrowLeft {
  left: 20px;
}

.arrowRight {
  right: 20px;
}

/* Hide arrows for smaller screens */
@media (max-width: 600px) {
  .arrow {
    display: none;
  }
}

/* Clickable areas for smaller screens */
.clickAreaLeft,
.clickAreaRight {
  position: fixed;
  top: 50px; /* Start below the close button */
  width: 50%; /* Take up half the viewport width */
  height: calc(100% - 50px); /* Adjust height to exclude the top section */
  z-index: 1001; /* Behind the close button but above the modal background */
  cursor: pointer;
}

.clickAreaLeft {
  left: 0;
}

.clickAreaRight {
  right: 0;
}

/* Add fade-in animation */
.fadeIn {
  opacity: 0;
  animation: fadeIn 1.2s forwards; /* Duration and forward fill mode */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
