/* Make the whole page container use flexbox */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the content area takes at least the full height of the viewport */
}

/* Cart section styling remains the same */
.cart {
  flex: 1; /* Ensures that the cart area grows to take available space */
  padding: 2rem;
  width: 800px;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
  padding-top: 0;
}

.cartItems {
  display: flex;
  flex-direction: column;
}

.cartItem {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.cartImage {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-right: 1rem;
}

.cartDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  text-align: center;
}

.cartActions {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.clearCart {
  height: 28px;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.clearCart:hover {
  transform: scale(1.1);
}

.checkout {
  height: 28px;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.checkout:hover {
  transform: scale(1.1);
}

.remove {
  height: 20px;
  width: 65px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.remove:hover {
  transform: scale(1.1);
}

.productName {
  margin-top: 0;
  margin-bottom: 0;
}

/* fade in */
.fadeIn {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* responsive */
@media (max-width: 900px) {
  .cart {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .cart {
    width: 300px;
    padding: 0;
  }
}
