.container {
  background-color: #ff2200;
  min-height: 30vh;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.2em;

  overflow-x: hidden;
}

.text {
  font-size: 3em;
  color: white;
  letter-spacing: 0.072em;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

.hey {
  height: 80px;
  width: auto;
}

/* Mobile menu overlay styling */
.mobileBackground {
  display: none;
}

.mobileCategory {
  width: auto;
  height: 40px;
  margin: 1vh 0;
}

.mobileCategory:hover {
  transform: scale(1.1);
}

.mobileMenu {
  display: none;
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .hey {
    content: url('../assets/Home/heymobile.png');
    height: 170px;
    width: auto;
  }

  .categories {
    display: none;
  }

  .mobileMenu {
    display: block;
    margin-bottom: 3vh;
  }

  .container {
    margin-top: 7vh;
  }
}
