.productList {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  max-width: 1050px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr); /* 3 products per row */
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.important {
  max-width: 750px;
  margin: 0 auto;
  padding: 5px;
  background-color: pink;
  border-radius: 10px;
  margin-bottom: 1rem;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

.understood {
  margin-bottom: 1.5vh;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.understood:hover {
  color: #f0f0f0;
  background-color: black;
}

/* Category filter */
.categoryFilters {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0.5rem;
  gap: 1rem;
}

.filterButton {
  padding: 8px 20px;
  font-size: 16px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: #f0f0f0;
}

.filterButton:hover {
  background-color: #9ce400;
  border: 1px solid #9ce400;
  color: black;
}

.activeFilter {
  background-color: black;
  color: white;
}

/* fade in */
.fadeIn {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* responsive */
@media (max-width: 850px) {
  .important {
    padding: 10px 20px;
    max-width: 600px;
  }
  .understood {
    margin-bottom: 1vh;
  }
  .productList {
    display: inline;
    padding: 0;
  }
  .categoryFilters {
    margin: 1.5rem 0 1.5rem;
  }
}

@media (max-width: 700px) {
  b {
    display: block;
  }

  .important {
    max-width: 550px;
  }
  .productList {
    display: block;
  }
}

@media (max-width: 600px) {
  .important {
    max-width: 270px;
  }
  .categoryFilters {
    display: flex;
    flex-direction: column;
    margin: 0 30vw;
    margin-bottom: 3vh;
  }
}
