.logo {
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
  display: block;
  margin: 1rem auto;
}

.logo:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

.logoLink {
  display: inline-block;
  padding-top: 3em;
}

/* responsive */
@media (max-width: 1200px) {
  .logo {
    height: 50px;
  }
}

@media (max-width: 1000px) {
  .logo {
    height: 45px;
  }
}

/* Add fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
