.footer {
  font-size: 1.2em;
  text-align: center;
  padding: 3vh 0 2vh;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

/* Add fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
